@using Mvcovie.Models
@model User
@{
    ViewBag.Title = "Registration";
}

<section>
    <header>Registration</header>

    <article>
        @using (Html.BeginForm("Welcome", "Home"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

            </div>

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname)
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                </div>

            </div>





            //<input name="Surname" type="text" method="post" />




            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.eMail, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.eMail)
                        @Html.ValidationMessageFor(model => model.eMail)
                    </div>
                </div>

            </div>

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

            </div>

            <div align="center">
                @Html.Label("Gender");<br />
                @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(Gender))),
                    new { @class = "form-control" })
                <input type="submit" value="Register" />
            </div>
        }
    </article>
</section>

